body {
  margin: 0;
}

p {
  width: 376px;
  height: 130px;
  top: 346px;
  left: 674px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #757575;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-self: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 820px;
  top: 766px;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-card {
  width: 920px;
  height: 211px;
  top: 200px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff4d;
  backdrop-filter: blur(30px);
}

.bot-card {
  width: 920px;
  height: 211px;
  top: 200px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff1a;
  backdrop-filter: blur(30px);
}

.card {
  display: flex;
  position: absolute;
  width: 700px;
  height: 225px;
  top: 298px;
  left: 370px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background: #ffffff;
}

.img-card {
  margin: 20px;
  display: flex;
  width: 268px;
  height: 193px;
  top: 314px;
  left: 386px;
  border-radius: 10px;
  opacity: 0px;
  align-self: center;
}
